header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 65px;
  padding: 0 200px;
  background-image: url("https://www.transparenttextures.com/patterns/blizzard.png");
  background-color: #0a192f;
  color: white;
  font-size: 1.3rem;
}


header .nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: var(--textColor);
  display: none;
  opacity: 0;
  font-size: 1.8rem;
}

header div,
nav {
  display: flex;
  align-items: center;
}

.nav-link {
  color: #bdc3c7;
  margin: 0 1rem;
  text-decoration: none;
}

.nav-link:hover {
  color: white;
}

a.nav-link:-webkit-any-link:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* social-icon */

.social-icon {
  display: flex;
  position: fixed;
  flex-direction: column;
  top: 35%;
  left: 0;
}

.linkedin,
.github,
.mail {
  width: 150px;
  height: 45px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: -95px;
  transition-duration: 300ms;
  border-radius: 6px;
  font-size: 1rem;
}

.linkedin {
  background-color: lightblue;
}

.github {
  background-color: #333333;
}

.mail {
  background-color: #6fc2b0;
}

.mail:hover {
  margin-left: -10px;
}

.github:hover {
  margin-left: -10px;
}

.linkedin:hover {
  margin-left: -10px;
}

.linkedin-icon,
.github-icon,
.mail-icon {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  color: grey;
  font-weight: 300;
}


@media screen and (max-width: 850px) {

  .nav-list {
    gap: 30px;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
  }

  header {
    padding: 0 32px;
  }

  header .nav-btn {
    opacity: 1;
    display: block;
  }

  header nav {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    justify-content: center;
    gap: 1.5rem;
    background-color: var(--mainColor);
    transition: 1s;
    transform: translateY(-100vh);
  }

  header .responsive_nav {
    transform: none;
    background-color: #0a192f;
    background-image: url("https://www.transparenttextures.com/patterns/blizzard.png");
  }

  nav .nav-close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }
}